# ====================
# Folders not to be uploaded to git
# ====================
__pycache__/
temp/
output/
assets/

# virtualenv
bin/
lib/
include/

# ====================
# Types of files
# ====================
# Python
*.__pycache__
*.pyc
*.Python

# Video Files
.mp4
.m4v

# System Files
.DS_Store
